.Box {
  display: flex;
  justify-content: center;
}

.modelpayment {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.mb {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
}

.flex {
  display: flex;
  gap: 10px;
}

.form-check {
  margin-top: 15px;
}

.bon {
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-weight: bolder;
  background-color: rgb(3, 94, 51);
  color: white;
  cursor: pointer;
}

.container2 {
  width: 100%;
  padding: 20px;
  font-size: 14px;
}

@media only screen and (min-width: 250px) and (max-width: 500px) {
  .modelpayment {
    max-width: 100%;
  }

  .flex {
    flex-direction: column;
  }
}
