/* ForgotPassword.css */
.container-k {
  width: 100%;
  max-width: 450px;
  height: 500px;
  margin: auto;
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 65px;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centering horizontally */
  justify-content: center;
}

.con-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 300px;
  margin: auto;
  border-bottom: 2px solid grey;
  margin-bottom: 40px;
  margin-top: 15px; /* Adjust this margin as needed */
}

.UpdatePasswordContainer {
  max-width: 400px;
  margin: auto;
}

.label {
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
}

.inputStyle {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.errorStyle {
  color: darkgrey;
  margin-bottom: 10px;
  text-align: center;
}

.buttonStyle {
  width: 100%;
  padding: 10px;
  background-color: #318ce7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .container-k {
    width: 100%;
    max-width: 300px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #333;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
