/* Homepage.css */
.homepage {
  text-align: center;
}

.slider {
  display: flex;
  overflow: hidden;
}

.slider-item {
  flex: 0 0 33.33%; /* Adjust this value based on the number of visible items you want */
  transition: transform 0.5s ease;
}

.slider img {
  width: 100%;
}

.slider-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
}

.slider-arrow-left {
  left: 0;
}

.slider-arrow-right {
  right: 0;
}
