/* Homepage.css */
.homepage {
  text-align: center;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider-item {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-img {
  flex: 0 0 33.33%; /* Adjust this value based on the number of visible items you want */
}

.slider img {
  width: 100%;
}

.slider-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  font-weight: bold;
  color: black;
  background-color: lightgray;
  border: none;
  border-radius: 50%; /* Make it circular */
  width: 20px; /* Set the width and height to the same value for a perfect circle */
  height: 20px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}

.slider-arrow-left {
  left: 0;
}

.slider-arrow-right {
  right: 0;
}
