body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #ffd84d;
  color: #fff;
  padding: 10px;
  display: flex;
  font-weight: bold;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
}

.navbar img {
  height: 40px;
  width: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.search-input {
  padding: 5px; /* Adjust padding for smaller size */
  border: 2px solid white;
  border-radius: 5px;
  background-image: url("https://shop.bewakoof.com/cdn/shop/t/3/assets/icon-search-desktop.svg?v=114869412250897726531690205645");
  background-position: 10px center;
  background-size: 20px; /* Make the icon a bit smaller */
  background-repeat: no-repeat;
  padding-left: 35px; /* Adjust padding-left for space between icon and text */
  margin-right: 5px; /* Add space between icon and text */
  width: calc(100% - 45px); /* Adjust width for smaller screens */
  text-align: center; /* Center text */
}

.wishlist-icon,
.cart-icon,
.login,
.flag {
  display: flex;
  align-items: center;
  margin-right: 5px; /* Adjust space between icons */
}

.wishlist-icon img,
.cart-icon img {
  height: 25px;
  width: auto;
  margin-right: 5px;
  cursor: pointer;
}

.wishlist-text {
  font-size: 14px;
  color: black; /* Set the color to black */
  cursor: pointer;
}

.cart-count {
  background-color: black;
  color: #fff;
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 12px;
}

.flag img {
  border-radius: 50%;
}

.search-box {
  /* position: absolute,
  backgroundColor: "grey",
  top: "20%",
  left: "60%",
  width: "380px",
  // height: "100vh",
  zIndex: 1000,
  boxShadow: "rgba(41, 45, 53, 0.15) 0px 0px 12px", */
  /* position: absolute; */
  background-color: grey;
  left: 60%;
  color: black;
  width: 380px;
  max-height: 400px;
  min-height: 0px;
  z-index: 1000;
  box-shadow: rgba(41, 45, 53, 0.15);
  overflow-y: scroll;
  position: absolute;
  /* margin-top: 30.5%; */
  top: 10%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #ffd84d;
  color: #fff;
  padding: 10px;
  display: flex;
  font-weight: bold;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: black;
  text-decoration: none;
  /* margin: 0 15px; */
}

.navbar img {
  height: 40px;
  width: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.search-input {
  padding: 5px; /* Adjust padding for smaller size */
  border: 2px solid white;
  border-radius: 5px;
  background-image: url("https://shop.bewakoof.com/cdn/shop/t/3/assets/icon-search-desktop.svg?v=114869412250897726531690205645");
  background-position: 10px center;
  background-size: 20px; /* Make the icon a bit smaller */
  background-repeat: no-repeat;
  padding-left: 35px; /* Adjust padding-left for space between icon and text */
  margin-right: 5px; /* Add space between icon and text */
  width: calc(100% - 45px); /* Adjust width for smaller screens */
  text-align: center; /* Center text */
}

.suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 4px);
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 200px;
  z-index: 1;
}

.suggestionsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestionsList li {
  padding: 8px;
  cursor: pointer;
}

.suggestionsList li:hover {
  background-color: #333;
}

.wishlist-icon,
.cart-icon,
.login,
.flag {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.wishlist-icon img,
.cart-icon img {
  height: 22px; /* Set the height to the desired size */
  width: auto;
  /* margin-right: 5px; */
  cursor: pointer;
}

.wishlist-text {
  font-size: 14px;
  color: black; /* Set the color to black */
  cursor: pointer;
}

.cart-count {
  background-color: black;
  color: #fff;
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 12px;
}

.flag img {
  border-radius: 50%;
}
.navbar .login button {
  background: none;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 320px) {
  .navbar {
    background-color: #ffd84d;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%; /* Set width to 100% for smaller screens */
  }

  .navbar img {
    height: 12px;
    margin-right: 3px;
  }

  .navbar a {
    color: black;
    font-size: 8px;
    margin: 0 3px;
  }

  .search-bar {
    margin: 0 3px;
  }

  .search-input {
    height: 20px;
    width: 10px;
    width: calc(100% - 40px);
    /* padding: 1px; */
    background-size: 15px;
    margin-left: 20px;
    font-size: 6px;
    text-align: center;
  }

  .navbar .login button {
    background: none;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 12px;
    padding: 0;
  }

  .wishlist-text,
  .flag,
  .cart-count {
    display: none;
  }
  .navbar {
    background-color: #ffd84d; /* Set background color for smaller screens */
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .navbar img {
    height: 20px; /* Adjust logo size for smaller screens */
    margin-right: 3px;
  }

  .navbar a {
    /* margin: 3px 3px; */
    font-size: 6px;
  }

  .search-bar {
    padding-top: 5px;
    margin-left: 0px;
    /* margin-right: 10px; */
  }

  .search-input {
    width: calc(80% - 8px); /* Adjust width for smaller screens */
    background-size: 15px; /* Adjust icon size */
    padding-left: 10px;
    font-size: 6px; /* Adjust text size */
    text-align: center;
  }

  .wishlist-text,
  .flag,
  .cart-count {
    display: none; /* Hide wishlist text, India flag, and cart count */
  }

  .navbar a1 {
    display: none;
  }

  .navbar {
    background-color: #ffd84d; /* Set background color for smaller screens */
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .navbar img {
    height: 20px; /* Adjust logo size for smaller screens */
    margin-right: 3px;
  }

  .navbar a {
    /* margin: 3px 3px; */
    font-size: 6px;
  }

  .search-bar {
    padding-top: 5px;
    margin-left: 0px;
    /* margin-right: 10px; */
  }

  .search-input {
    width: calc(80% - 8px); /* Adjust width for smaller screens */
    background-size: 15px; /* Adjust icon size */
    padding-left: 10px;
    font-size: 6px; /* Adjust text size */
    text-align: center;
  }

  .wishlist-text,
  .flag,
  .cart-count {
    display: none; /* Hide wishlist text, India flag, and cart count */
  }

  .navbar a1 {
    display: none;
  }
  .navbar {
    background-color: #ffd84d; /* Set background color for smaller screens */
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .navbar img {
    height: 20px; /* Adjust logo size for smaller screens */
    margin-right: 3px;
  }

  .navbar a {
    /* margin: 3px 3px; */
    font-size: 6px;
  }

  .search-bar {
    padding-top: 5px;
    margin-left: 0px;
    /* margin-right: 10px; */
  }

  .search-input {
    width: calc(80% - 8px); /* Adjust width for smaller screens */
    background-size: 15px; /* Adjust icon size */
    padding-left: 10px;
    font-size: 6px; /* Adjust text size */
    text-align: center;
  }

  .wishlist-text,
  .flag,
  .cart-count {
    display: none; /* Hide wishlist text, India flag, and cart count */
  }

  .navbar a1 {
    display: none;
  }
}
